div.container{
    width: 100%;
}

#projectTitle{
    font-size: 3vw;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#divAnimContainer {
    display: table;
    width: 50%;
    float: left;
}

#divInputCtrls{
    width: 50%;
    display: table;
}
/* box to hold array items and where animations will be performed */
#divBars {
    display: table-cell;
    border-collapse: separate;
    vertical-align: bottom;
    width: fit-content;
    height: 400px;
    padding: 2px;
    background-color: #f0ede7;
    overflow: auto;
    box-shadow: 12px 12px 15px 0px rgba(161, 150, 161, 0.64);
}

/* each array item as box */
.box {
    display: inline-block;
    width: 27px;
    background-color: cadetblue;
    padding: 2px;
    margin: 1px;
    overflow: auto;
}


/* text element to display array */
#divTextArea {
    width: fit-content;
    height: 25px;
    background-color: #e2e1df;
    box-shadow: 5px 5px 5px 0px rgba(161, 150, 161, 0.64);
}

button{
    border-radius: 12px;
    padding: 5px;
    margin: 5px;
    font-weight: 600;
    background-color: azure;
}